<!DOCTYPE html>
<html>

<head>
<title>Lockdown Activities</title>
<style>
  #map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
</head>

<body>

<div id='map' />

<script src='{{ url_for('static', filename='map.js') }}'></script>
<script>
function initMap() {
  map({{after}}, {{before}}, {{radius}}, {{zoom}});
}
</script>
<script async
    src='https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap&libraries=geometry'>
</script>

</body>
</html>

